

.inputsd{
  position: sticky;
  top:0;
  width:400px;
  border:3px solid white ;
  height:175px;
  border-radius: 10px;
  background-image: linear-gradient(to right,purple,blue,pink);
  color:rgb(0, 0, 0);
  padding:10px;
}
.bt{
  display: flex;
  position: relative;
  justify-content: space-between;
  /* left: 50%; */
  width: 217px;
  /* border: 2px solid red; */
  /* transform: translate(-50%, 0); */
}
.butt{
  position: relative;
  left:50%;
  transform:translate(-50%,0);
  padding:5px;
  width:75px;
}
 .inputsd p{
  text-align: end;
  /* border:2px solid white; */
  margin-right: 5px;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 0px;
  font-weight: bold;

  /* margin-top: 2px; */
}  
.enter p{
  font-size: 22px;
  height:50px;
  margin: 0;
  font-weight: bold;
  width:140px


}
.tasks{
  /* background-color: aqua; */
  border:3px solid white;
  height:100vh;
  padding:5px;
  margin-top: 5px;
  border-radius: 10px;
  overflow-y:scroll;
}
.task{
  width:100%;
  height:100px;
  background-color: aqua;
  border-radius: 10px;
  margin-bottom:5px

}
.app{
  background-color: black;
  padding:5px;
  width:412px;
  min-height:100vh
}
.enter{
  display:flex;
  /* border:2px solid white; */
  height:70px;
  justify-content: center;
  align-items: center;
}
.enter input{
  background:none;
  outline: none;
  border:none;
  border-bottom: 2px solid black;
  height:40px;
  margin-left: 10px;
  color:white;
  font-weight: bold;

}

